.root {
    border-bottom: 1px solid #EAECF0;
}

.list {
    padding: 0;
    margin: 0;
}

.item {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 0 4px 16px 4px;
    color: #717171;
    cursor: pointer;

    &[data-active="true"] {
        color: #43C0FA;
        border-bottom: 2px solid #43c0fa;
    }
}
