.content {
    outline: none;
    display: flex;
    border-radius: 16px;
    flex-direction: column;
    gap: 4px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    min-width: 190px;

    .menu-item {
        display: flex;
        align-items: center;
        gap: 6px;
        color: var(--text-color);
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 24px;
        outline: none;

        &:hover {
            background-color: #0095da1a;
        }

        svg {
            color: #a7a7a7;
            width: 20px;
            height: auto;
            display: block;
            flex-shrink: 0;
        }

        .label {
            flex: 1;
        }
    }
}

.trigger {
    width: fit-content;
}
