.title {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.8rem;
    padding-top: 3.2rem;
}


// ======= Card =========

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem 6.6rem;
}

.card {
    flex: 1;
    width: 255px;
    min-height: 255px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    gap: 30px;
    border: 1px solid rgba(35, 35, 35, 0.10);
    background: rgba(35, 35, 35, 0.04);
    cursor: pointer;

    &:hover {
        background: rgba(35, 35, 35, 0.08);
    }

    &:active {
        background: rgba(35, 35, 35, 0.1);
    }
}

.icon {
    width: 94px;
    height: 94px;
    border-radius: 22px;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);

    svg {
        width: 4.4rem;
        height: 4.4rem;
    }
}

.text {
    color: var(--text-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 32px;
}
