.wrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .item {
        border-radius: 8px;
        border: 1px solid #b8b8b8;
        display: flex;
        padding: 10px 30px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        color: #b8b8b8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 22px;
        cursor: pointer;

        &:hover,
        &.active {
            color: var(--primary-color);
            // background-color: var(--primary-color);
            border-color: var(--primary-color);
        }
        &.disabled {
            background-color: #b8b8b8;
            color: white;
            border-color: #b8b8b8;
            cursor: not-allowed;
        }
    }
    .system {
        color: #fff !important;
        background: var(--primary-color);
    }
}
